<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Bienvenida a LucaTinder</title>
</head>
<body>
	<div id="contenedor">
		<h2>
			Tu primer paso hacia el amor
		</h2>
		<table>
			<thead>
				<tr>
					<th>Nickname</th>
					<th>Password</th>
				</tr>
			</thead>
			<tbody>
				<tr>			
					<td><span th:text="${perfil.nickName}" /></td>
					<td><span th:text="${perfil.password}" /></td>
				</tr>					
			</tbody>
			<div class="success">
			<h3>Mensaje de confirmación</h3>
			<span th:text="${success}" /> <br />
		</div>
		
		</table>
	</div>
</body>
</html>