<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<title>Login Perfil</title>
</head>

<body>
	<fieldset>

		<div style="text-align: center">
			<legend>Introduce tus datos:</legend>
			<form th:action="@{/}" method="post" th:object="${perfil}">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Apodo"
						th:field="*{nickName}" />
					<div th:if="${#fields.hasErrors('nickName')}"
						th:errors="*{nickName}" class="has-error help-inline">nickName
						Error</div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Contraseña" th:field="*{password}" />
					<div th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}" class="has-error help-inline">password
						Error</div>
				</div>

				<input type="submit" value="Entrar"> <a href="altaPerfil">¿No
					tienes cuenta todavia Guapo/a?</a>

				<div class="success">
					<span th:text="${success}" /> <br />

					<div class="warning">
						<h3>Mensaje de confirmación</h3>
						<span th:text="${warning}" /> <br />
					</div>
			</form>
	</fieldset>
</body>
</html>