<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/altaPerfil.css">

    <title>altaPerfil</title>
</head>

<body>

    <div id="contenedor">
        <h2>Formulario 1<br />REGISTRO
        </h2>
        <form method="post" th:object="${cliente}" th:action="@{/addcliente}">
            <table border="1">
               
                <tr>
                    <th><label for="nombre">Nombre</label></th>
                    <td><input type="text" th:field="*{nombre}" /></td>
                </tr>
                <tr>
                    <th><label for="nickname">Nickname</label></th>
                    <td><input type="text" th:field="*{nickname}" /></td>
                </tr>

                <tr>
                    <th><label for="password">Contraseña</label></th>
                    <td><input type="password" th:field="*{password}" /></td>
                </tr>


                <div class="form-group">
                    <tr>
                        <th><label for="cantidad">Edad</label> <input type="number" class="form-control" id="edad" placeholder="18" min="18" th:field="*{edad}" /></th>
                    </tr>
                </div>

            </table>
            <br />
            <p><strong>Población</strong>
                <select name="Población">

                    <option>Madrid</option>

                    <option>Barcelona</option>

                    <option>Valencia</option>

                    <option>Sevilla</option>

                    <option>Almería</option>

                </select>

            </p>
            
             <p><strong>Género</strong>
               
                <select name="Genero">

                    <option>Femenino</option>

                    <option>Masculino</option>

                </select>

            </p>

            <p>
                <input type="submit" value="Dar de alta" />
            </p>

        </form>
    </div>
</body></html>
