<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Login Perfil</title>
</head>

<body>
    <fieldset>
        <div style="text-align:center">
            <legend>Introduce tus datos:</legend>
            <form th:action="@{/save}" method="post" th:object="${perfil}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nickname" th:field="*{nickname}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" th:field="*{password}">
                </div>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </fieldset>
</body>
</html>